# Telegram API credentials (get at https://my.telegram.org)
# Then create ~/.hermes/digest/config.json:
# {
#   "api_id": 12345,
#   "api_hash": "your_api_hash",
#   "phone": "+79012345678"
# }
TELEGRAM_API_ID=12345
TELEGRAM_API_HASH=your_api_hash_here
TELEGRAM_PHONE=+790****4567
